# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Project Directories (Keep folders but ignore contents)
pdf/*
!pdf/.gitkeep

knowledge/*
!knowledge/.gitkeep

memory/*
!memory/.gitkeep

# OS specific
.DS_Store
Thumbs.db
